
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #264653;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

img {
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}


nav{
    text-align-last: right;
}


a {
    display: inline-flex;
    align-items: center;
    color:#FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


a::before{
    content: "";
    background-color: #e9c46a;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #2a9d8f;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    transition: ransform 100ms linear, opacity ease-in-out 150ms;
}

#button:hover{
    transform: scale(1.08);
    opacity: 0.8;
}

