.banner {
    background-image: url(../../assets/img/paisagem.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 750px;
    border-bottom: 10px solid #000;
} 



.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
    padding: 150px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;

}