.button{
    display: inline-block;
    background-color: #2a9d8f;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    transition: ransform 100ms linear, opacity ease-in-out 150ms;
    margin-right: 0;
    font-family: Fira Code, sans-serif; 
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.08);
    opacity: 0.8;
}