.main-subtitle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color:#F4A261;
    text-shadow: 4px 3px 0 #000;
    padding: 20px;
}

.main-subtitle.-second{
    color: rgb(36, 25, 25);
    text-shadow: none;
    text-align: center;
}