.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #264653;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

