.main-title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    color:#e9c46a;
    text-shadow: 5px 5px 0 #000;
}

.main-title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
    margin-bottom: 60px;
}

