.main-section{
    background-color: #F4A261;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #264653;
}



.main-section.-bgBlack{
    background-color: black;
}

.main-section.-bgSecond{
    background-color: #7C5E99;
}

