.skill-tec{
    align-items: center;
    display: flex;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.skill-tec .icon{
    margin-right: 25px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    width: 90px;
    margin-bottom: 16px;
}