.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.wrapper-skill .skill-tec{
    width: 480px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}